<% provide(:title, 'Curriculum')%>

<h3>Chi siamo</h3>
<p>
	Nato nel 2006 da un'idea del M° Fiorenzo Di Tommaso, il Rossini Flute Ensemble è una formazione di giovanissimi flautisti
	marchigiani del tutto singolare nel panorama concertistico italiano. 
	La caratteristica principale è l'originalità dell'impasto sonoro che può avvicinarsi sia al
	suono dell'organo a canne sia a quello di un'orchestra d'archi. Tutto questo soprattutto 
	grazie all'utilizzo di particolari strumenti come il flauto 
	contralto e il flauto basso, che, legati al flauto in Do e all'ottavino, 
	conferiscono alle esecuzioni leggerezza ed eleganza timbrica. 
</p>
<p>
	Il repertorio si incentra su trascrizioni di brani universalmente celebri di autori quali Vivaldi, 
	Mozart, Rossini ed altri, arrangiati magistralmente per tale formazione dal M° Michele Mangani. 
	L'ensemble ha tenuto concerti in diverse città italiane ottenendo sempre apprezzamenti di 
	pubblico e critica, in particolare vengono ricordati il concerto inserito nella stagione 
	"Amici dell'Arte" (Forlì 2006) realizzato in collaborazione col M° Devis Mariotti 
	(1° flauto dell'Orchestra del Teatro Comunale di Bologna), il "Ferragosto al San Salvatore" 
	(Pesaro 2007), i festeggiamenti per il centenario della CGIL di Pesaro (2007) alla presenza 
	del segretario generale Guglielmo Epifani, nonchè il momento musicale in onore del "Festival Assisi nel Mondo" 
	progetto "Omaggio all'Umbria", sotto la direzione artistica della cantante di opera lirica Laura Musella. 
</p>
<p>
	Molti dei componenti del gruppo sono risultati vincitori di Concorsi nazionali 
	ed internazionali, si esibiscono in varie formazioni cameristiche e collaborano 
	con Orchestre Italiane. Inoltre nel giugno 2013 il gruppo ha ottenuto il primo 
	premio al concorso internazionale "Luigi Zanuccoli" a Sogliano al Rubicone (FC). 
	L'Ensemble al completo si presenta composto solitamente da dieci elementi.
</p>

<h3>Il nostro repertorio</h3>

<p>
	Attualmente nel nostro repertorio si trovano i seguenti brani:
</p>
<ul>
	<li>Per solisti:
		<ul>
			<li>Concerto <em>Il Cardellino</em> di Vivaldi</li>
			<li>Carnevale di Venezia - Variazioni di Briccialdi</li>
			<li>Andante in Do Maggiore KV 315 di Mozart</li>
			<li>Rondò in Do Maggiore di Mozart</li>
		</ul>
	</li>
	<li>Sinfonici:
		<ul>
			<li>Ouverture de <em>L'Italiana in Algeri</em> di Rossini</li>
			<li>Ouverture de <em>La Cenerentola</em> di Rossini</li>
			<li>Ouverture de <em>Il Barbiere di Siviglia</em> di Rossini</li>
			<li>Il Flauto Magico di Mozart</li>
		</ul>
	</li>
</ul>

<p>Inoltre sono in fase di preparazione i seguenti brani:</p>
<ul>
	<li><em>Walking through the Middle Earth</em> - Fantasia sulle colonne sonore de <em>Il Signore degli Anelli</em></li>
	<li><em>Games of Thrones</em> - Sigla introduttiva dell'omonima serie televisiva</li>
	<li><em>Sailing with Jack Sparrow</em> - Fantasia sulle colonne sonore di <em>Pirati dei Caraibi</em></li>
</ul>

