<% provide(:title, 'Eventi') %>
<div class="row">
	<div class="col-md-4">
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag('san_salvatore.png', alt: "San Salvatore") %>
			</a>
			<div class="media-body">
				<h4 class="media-heading">Ferragosto al San Salvatore</h4>
				<p>In occasione della XII edizione di quest'evento, il Rossini Flute Ensemble ha suonato
				per l'ospedale San Salvatore di Pesaro.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag('assisi_nel_mondo.gif', alt: "Assisi nel Mondo") %>
			</a>
			<div class="media-body">
				<h4 class="media-heading">Festival musicale <em>Assisi nel Mondo</em></h4>
				<p>Il Festival è iniziato con il tradizionale concerto di Pasqua trasmesso da Rai 1 dal Duomo di Orvieto il 3 aprile e tenuto
				 dall'Orchestra del Maggio Musicale Fiorentino diretta da Zubin Mehta.</p>
		
				<p>Il festival è proseguito con altri 15 concerti tenuti da ragazzi prodigio provenienti da tutto il mondo e da due orchestre
				 formate da giovani e giovanissimi musicisti nelle più belle Chiese dell'Umbria.</p>
		
				<p>Altro evento è stato il concerto trasmesso da Rai 1 che Uto Ughi ha tenuto il 8 luglio nella Piana Fiorita di Castelluccio di
				Norcia sempre davanti a 5.000 persone.</p>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag('deamusica.jpeg', alt: "Concorso internazionale Luigi Zanuccoli") %>
			</a>
			<div class="media-body">
				<h4 class="media-heading">Concorso internazionale <em>Luigi Zanuccoli</em></h4>
				<p>Il concorso internazionale Luigi Zanuccoli, di Sogliano sul Rubicone (RN), ha visto come
				vincitore nella sua XI edizione, per la categoria unica <em>Orchestra,</em> il Rossini Flute Ensemble.</p>
				<a href="http://www.deamusica.com/it/concorso/70--vincitori-11-concorso-internazionale-per-giovani-musicisti-.html">Concorso Luigi Zanuccoli, vincitori XI edizione</a>
			</div>
		</div>
	</div>
</div>