<% provide(:title, 'Rossini Flute Ensemble')%>


<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>RFE app</h1>
			<p>Riquadro sulla sinistra: breve introduzione al gruppo, idee e stile, tipi di musica, categorie di eventi. Accoglienza ed 					introduzione al sito.</p>
			<p>Sulla destra uno slider di foto varie, da raccogliere.</p>
			<p>In alto, titolo (arancione, su sfondo grigio) e navbar.</p>
		</div>
		<div class="col-md-8">
			<h2>Qui ci sta una bella gallery</h2>
		</div>
	</div>

</div>
